
@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@700&display=swap');
$mainColor:#3B7575;
$accentColor:#EBA756;
$mainFontFamily:"Amiri",serif;
$mainFontSize:20px;


.gallery{
    overflow: hidden;
    padding-top:30px;

    .gallery-header{
       padding:0 30px;
    }
    .hr-gallery-style{
		margin-right: 32px;
		margin-bottom:50px;
    }
    
    .campigns{
       overflow: hidden;
      .col-12, .col-md-5{
         padding:0;
      }
    .campign{
         border:2px solid rgb(124, 124, 124);
         margin-bottom: 40px;
         height:354px;
         overflow: hidden;
         cursor: pointer;
         -webkit-transition: all 0.4s;
         -o-transition: all 0.4s;
         transition: all 0.4s;
         &:hover{
            -webkit-box-shadow: 1px 1px 5px rgb(206, 206, 206);
                    box-shadow: 1px 1px 5px rgb(206, 206, 206);
            -webkit-transform: scale(1.03,1.03);
                -ms-transform: scale(1.03,1.03);
                    transform: scale(1.03,1.03);
         }
         /*start campign all ima*/
         .campign-images{
            height:100%;
            display:-ms-grid;
            display:grid;
            -ms-grid-columns: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            -ms-grid-rows: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
         }
         .campign-images > *:nth-child(1){
                -ms-grid-row:1;
                -ms-grid-column:1;
         }
         .campign-images > *:nth-child(2){
                -ms-grid-row:1;
                -ms-grid-column:2;
         }
         .campign-images > *:nth-child(3){
                -ms-grid-row:2;
                -ms-grid-column:1;
         }
         .campign-images > *:nth-child(4){
                -ms-grid-row:2;
                -ms-grid-column:2;
         }
         /*end campign all ima*/

         .individual-image{
            height:354px;
         }
         .item-image{
            background-size:cover;
            height:100%;
            background-position: center center;
            width:100%;
         }
         .image{
            padding:1px;
            height:177px;
            .img{
               height:100%;
               background-size:cover;
               background-position: center center;
           }    
        }
     
     }
   }
}



.transformClass{
   -webkit-transform:scale3d(1.2, 1.2, 1.2);
           transform:scale3d(1.2, 1.2, 1.2);  
}

@media (max-width:600px){
	.Gallery{
		padding: 0 60px !important;
	}
}